In [10]:
import pandas as pd
import numpy as np
from tqdm import tqdm

In [11]:
train = pd.read_csv("battles_updated.csv")
test = pd.read_csv("tests.csv")
pokemon = pd.read_csv("pokemon.csv")
typechart = pd.read_csv("chart.csv")

In [12]:
train

,second_Type 1,second_Type 2,second_HP,second_Attack,second_Defense,second_Sp. Atk,second_Sp. Def,second_Speed,first_Type 1,first_Type 2,first_HP,first_Attack,first_Defense,first_Sp. Atk,first_Sp. Def,first_Speed,First_pokemon,Second_pokemon,outcome
0,Grass,Poison,45,24,49,32,65,45,Normal,Flying,40,90,40,70,35,56,21,1,0
1,Grass,Poison,45,49,49,65,65,45,Normal,No Type,30,56,35,25,35,72,25,1,0
2,Grass,Poison,45,12,49,16,65,45,Grass,Poison,60,16,70,21,75,40,50,1,1
3,Grass,Poison,45,24,49,32,65,45,Fire,No Type,55,140,45,140,50,60,64,1,0
4,Grass,Poison,45,12,49,16,65,45,Grass,Poison,50,18,35,17,30,40,76,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49995,Fire,Water,80,220,120,260,90,70,Bug,Flying,80,26,50,45,50,89,735,800,0
49996,Fire,Water,80,27,120,32,90,70,Poison,Water,50,60,60,60,60,30,761,800,1
49997,Fire,Water,80,27,120,32,90,70,Poison,Water,50,60,60,60,60,30,761,800,1
49998,Fire,Water,80,27,120,32,90,70,Dragon,No Type,68,75,53,83,113,60,776,800,1
49999,Fire,Water,80,110,120,130,90,70,Ghost,Grass,59,66,70,44,55,41,784,800,1

Baseline

In [21]:
from sklearn.linear_model import LogisticRegression
from sklearn.svm import LinearSVC
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.model_selection import cross_val_score

In [16]:
train.head(1)

,second_Type 1,second_Type 2,second_HP,second_Attack,second_Defense,second_Sp. Atk,second_Sp. Def,second_Speed,first_Type 1,first_Type 2,first_HP,first_Attack,first_Defense,first_Sp. Atk,first_Sp. Def,first_Speed,First_pokemon,Second_pokemon,outcome
0,Grass,Poison,45,24,49,32,65,45,Normal,Flying,40,90,40,70,35,56,21,1,0

In [19]:
#Drop unnecessary columns
try:
    drop = ["first_Type 1", "first_Type 2", "second_Type 1", "second_Type 2", "First_pokemon", "Second_pokemon"]
    train.drop(drop, axis=1, inplace=True)
except Exception as e:
    print(e)

In [20]:
train

,second_HP,second_Attack,second_Defense,second_Sp. Atk,second_Sp. Def,second_Speed,first_HP,first_Attack,first_Defense,first_Sp. Atk,first_Sp. Def,first_Speed,outcome
0,45,24,49,32,65,45,40,90,40,70,35,56,0
1,45,49,49,65,65,45,30,56,35,25,35,72,0
2,45,12,49,16,65,45,60,16,70,21,75,40,1
3,45,24,49,32,65,45,55,140,45,140,50,60,0
4,45,12,49,16,65,45,50,18,35,17,30,40,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
49995,80,220,120,260,90,70,80,26,50,45,50,89,0
49996,80,27,120,32,90,70,50,60,60,60,60,30,1
49997,80,27,120,32,90,70,50,60,60,60,60,30,1
49998,80,27,120,32,90,70,68,75,53,83,113,60,1
49999,80,110,120,130,90,70,59,66,70,44,55,41,1

In [22]:
y = train.outcome
train.drop("outcome", axis=1, inplace=True)

In [24]:
reg_model = LogisticRegression()
svm_model = LinearSVC(max_iter=10000)
rf_model = RandomForestClassifier(n_estimators=300)
reg_scores = cross_val_score(reg_model, train, y, cv=5, scoring="f1")
svm_scores = cross_val_score(svm_model, train, y, cv=5, scoring="f1")
rf_scores = cross_val_score(rf_model, train, y, cv=5, scoring="f1")

C:\Users\tresyap\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\tresyap\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\tresyap\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\tresyap\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\tresyap\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\tresyap\Anaconda3\lib\site-packages\sklearn\svm\base.py:929: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  "the number of iterations.", ConvergenceWarning)
C:\Users\tresyap\Anaconda3\lib\site-packages\sklearn\svm\base.py:929: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  "the number of iterations.", ConvergenceWarning)
C:\Users\tresyap\Anaconda3\lib\site-packages\sklearn\svm\base.py:929: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  "the number of iterations.", ConvergenceWarning)
C:\Users\tresyap\Anaconda3\lib\site-packages\sklearn\svm\base.py:929: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  "the number of iterations.", ConvergenceWarning)
C:\Users\tresyap\Anaconda3\lib\site-packages\sklearn\svm\base.py:929: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  "the number of iterations.", ConvergenceWarning)

In [27]:
print("Cross-Validation F1 Scores (mean):")
print("Logistic Regression: %0.2f" % reg_scores.mean())
print("SVM: %0.2f" % svm_scores.mean())
print("Random Forest: %0.2f" % rf_scores.mean())

Cross-Validation F1 Scores (mean):
Logistic Regression: 0.90
SVM: 0.79
Random Forest: 0.95